extends layout

block content
  h1= title
  p Welcome to #{title} #{username}
  p #{message}
  if username == ""
    form(method='POST' action='/login')
        div.form-group
            input(type='text', name='userName', required=true)
            button.btn.btn-primary(type='submit') Login

  a(href="/jokes") All Jokes
  br
  a(href="/jokes/random") Random Joke
  br
  a(href="/jokes/add") Add Joke
  br
  a(href="/logout") Logout


